*.BAK
*.bak
*.BAT
*.bat
*.BIN
*.bin
*.CHR
*.chr
*.DAT
*.dat
*.DDB
*.ddb
*.DOC
*.doc
*.DSK
*.dsk
*.EXE
*.exe
*.GIF
*.gif
*.IBM
*.ibm
*.IFF
*.iff
*.JPG
*.jpg
*.JPEG
*.jpeg
*.LNK
*.lnk
*.MGT
*.mgt
*.ODT
*.odt
*.PDF
*.pdf
*.PI1
*.pi1
*.PNG
*.png
*.SCR
*.scr
*.session
*.TAP
*.tap
*.TXT
*.txt
*.VGS
*.vgs
*.webp
*.ZIP
*.zip
!flags.txt
!TODO.txt
