*.BAT
*.bat
*.CHR
*.chr
*.DAT
*.dat
*.DDB
*.ddb
*.DSK
*.dsk
*.EXE
*.exe
*.GIF
*.gif
*.IFF
*.iff
*.JPG
*.jpg
*.JPEG
*.jpeg
*.LNK
*.lnk
*.PDF
*.pdf
*.PI1
*.pi1
*.PNG
*.png
*.SCR
*.scr
*.session
*.TAP
*.tap
*.TXT
*.txt
*.VGS
*.vgs
*.webp
*.ZIP
*.zip
!flags.txt
!TODO.txt
